.img-container {
  order: 1;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.testContainer {
  display: flex;
  justify-content: space-evenly;
}

.test-logo-image {
  height: 50px;
}

.navbar {
  height: 100px !important;
  background-color: #fff !important;
  padding: 0 0 0 15px !important;
}

.navbar-brand {
  height: 100px !important;
}

.photographerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  font-family: 'Poiret One', cursive;
  font-weight: 700 !important;
  border: 1px solid black;
}

.photographer-details {
  margin: 5px 0 10px;
  color: #138496;
  font-weight: 700 !important;
}

.details-text {
  font-size: 16px !important;
}

.answer-prompt {
  font-family: 'Poiret One', cursive;
  font-weight: 700 !important;
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0;
  text-align: left;
}

a {
  font-weight: 600;
  color: inherit;
}

a:hover {
  text-shadow: 1px 1px 2px #66fcf1, 0 0 25px #1f2833, 0 0 5px #484848;
}

img {
  max-height: 600px;
  max-width: 600px;
  margin: 20px 0;
}

.test-image {
  border: 5px double #ffffff;
  outline: 10px solid black;
}

h5 {
  margin: 0 15px;
}

.imagedata {
  display: flex;
  width: 375px;
  flex-direction: column;
  align-items: flex-start;
}

.difficultydropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answerdropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#dropdown-basic-button {
  text-decoration: none !important;
}

.answer-right-side {
  display: flex;
  justify-content: center;
}

.fa-check {
  color: #00e500;
  margin: 0 10px;
}

.correct {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.answers {
  width: 100%;
  border: 1px solid black;
  padding: 10px 10px 0 10px;
}

.answer {
  color: #00e500;
  font-weight: 600;
}

.fa-times {
  color: red;
  text-align: center;
  line-height: 40px;
  width: 80px;
}

.submit-button-container {
  width: 375px;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  margin: 15px 0;
}


@media (max-width: 1200px) {

  h5 {
    margin: 0;
  }

  .imagedata {
    width: 250px;
  }

  img{
    margin: 20px 50px;
  }

  .dropdown {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .dropdown-container {
    padding-bottom: 5px;
  }

  .answer-right-side {
    justify-content: space-between;
  }

  .submit-button-container {
    width: 250px;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .img-container {
    order: 2;
  }

  .testContainer {
    flex-direction: column;
    align-content: center;    
    order: 1;
  }

  .photographerInfo {
    width: 275px;
    justify-content: center;
  }

  .imagedata {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .dropdown {
    width: 150px;
  }

  h3{
    margin: 0;
  }
}
